<div class="nested-fields">
  <div class="field">
    <%= f.label :ziptwo, 'Cep' %>
    <%= f.text_field :ziptwo %>
  </div>

  <div class="field">
    <%= f.label :citytwo, 'Cidade' %>
    <%= f.text_field :citytwo %>
  </div>

  <div class="field">
    <%= f.label :statetwo, 'Estado' %>
    <%= f.text_field :statetwo %>
  </div>

  <div class="field">
    <%= f.label :boroughtwo, 'Bairro' %>
    <%= f.text_field :boroughtwo %>
  </div>

  <div class="field">
    <%= f.label :streetwo, 'Rua' %>
    <%= f.text_field :streetwo %>
  </div>

  <div class="field">
    <%= f.label :numbertwo, 'Numero' %>
    <%= f.text_field :numbertwo %>
  </div>

  <div class="field">
    <%= f.label :comptwo, 'Complemento' %>
    <%= f.text_field :comptwo %>
  </div>

  <div class="field">
    <%= f.label :tipotwo, 'Tipo' %>
    <%= f.text_field :tipotwo %>
  </div>

  <%= link_to_remove_association 'Remover Endereço', f %>

  <br><br><br>
</div>