<p id="notice"><%= notice %></p>
<h1>X-Solar Tech</h1>
<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpd %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @user.borough %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @user.street %>
</p>

<p>
  <strong>Número:</strong>
  <%= @user.number %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @user.comp %>
</p>

<p>
  <strong>Tipos dos Imóveis:</strong>
  <%= @user.tipo %>
</p>

<p>
  <% @user.experiences.each_with_index do |exp, index| %>
    <br>
    <h4>Endereço:</h4>
    <strong>Cep:</strong>
    <%= exp.ziptwo %>
    <br>
    <strong>Cidade:</strong>
    <%= exp.citytwo %>
    <br>
    <strong>Estado:</strong>
    <%= exp.statetwo %>
    <br>
    <strong>Bairro:</strong>
    <%=exp.boroughtwo %>
    <br>
    <strong>Rua:</strong>
    <%=exp.streetwo %>
    <br>
    <strong>Number:</strong>
    <%=exp.numbertwo %>
    <br>
    <strong>Complemento:</strong>
    <%= exp.comptwo %>
    <br>
  <% end %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
